* {
  box-sizing: border-box;
}
body {
  font-family: "Comfortaa", cursive;
}
/* ССЫЛКИ  */
a:hover {
  text-decoration: underline;
  color: rgb(18, 31, 211);
}
a:active {
  color: rgb(76, 182, 44);
}
/* Окна и кнопка */
li:hover,
button:hover {
  transition-duration: 0.4s;
  box-shadow: 0px 0px 8px 2px rgb(132, 103, 146);
}
/* Шапка сайта */
.header {
  margin-bottom: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #d9cfe3;
  max-width: 1360px;
  margin: auto;
  height: 90px;
  border: 3px solid #210736;
  border-radius: 10px;
}
.logo {
  margin: 0;
  margin-left: 20px;
}

.flow {
  display: flex;
  margin: 35px;
}
.flow-name {
  color: #210736;
}
/* Автор */
.hero {
  margin-bottom: 20px;
}
.hero-container {
  display: flex;
  justify-content: space-between;
  background-color: #eee9f2;
  max-width: 1360px;
  margin: auto;

  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgb(132, 103, 146);
}
.glo-link {
  color: #210736;
  text-decoration: none;
  font-weight: 700;
}
.author {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.author-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.button {
  margin-top: 60px;
  width: 200px;
  padding: 10px 10px;
  border: 2px solid #210736;
  border-radius: 10px;
}
.homework-button {
  text-decoration: none;
  color: #210736;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.homework-link {
  color: #210736;
  font-size: 20px;
  text-decoration: none;
  background-color: #d9cfe3;
  text-align: center;
  width: 120px;
  height: 40px;
  padding-top: 15px;
  border: 1px solid #210736;
  border-radius: 5px;
}
.It-specialist {
  width: 500px;
  height: 500px;
}
/* Домашние задания */
.homework {
  margin-top: 0;
}
.homework-container {
  color: #210736;
  background-color: #d9cfe3;
  max-width: 1360px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(132, 103, 146);
}
.homework-title {
  margin: 0;
  padding-top: 50px;
  padding-left: 40px;
}
.homework-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  line-height: 30px;
  list-style: none;
  text-decoration: none;
}
.homework-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 49%;
  height: 100px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #210736;
  border-radius: 10px;
}
.homework-links {
  color: #210736;
  font-size: 16px;
  text-decoration: none;
}
.homework-img {
  margin: 5px;
  margin-right: 20px;
  height: 60px;
  width: 60px;
}
@media (max-width: 1200px) {
  .header-container,
  .hero-container,
  .homework-container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .header-container,
  .hero-container,
  .homework-container {
    max-width: 760px;
  }
  .button {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .header-container,
  .hero-container,
  .homework-container {
    max-width: 560px;
  }
  .author-title {
    font-size: 20px;
  }
  .author-subtitle {
    font-size: 14px;
  }
  .button {
    margin-top: 20px;
    width: 150px;
    padding: 10px 10px;
  }
  .homework-button {
    font-size: 16px;
  }
  .It-specialist {
    margin-top: 60px;
    width: 300px;
    height: 300px;
  }
  .homework-img {
    width: 35px;
    height: 35px;
  }
  .homework-links {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 576px) {
  .header-container,
  .hero-container,
  .homework-container {
    max-width: 95%;
  }
  .author {
    padding: 30px;
  }
  .author-title {
    margin: 0px;
    font-size: 18px;
  }
  .author-subtitle {
    font-size: 12px;
  }
  p {
    margin-top: 10px;
  }
  .button {
    margin-top: 20px;
    width: 150px;
    padding: 10px 10px;
  }
  .homework-button {
    font-size: 16px;
  }
  .It-specialist {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
  .homework-img {
    width: 35px;
    height: 35px;
  }
  .homework-links {
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 520px) {
  .homework-links {
    font-size: 8px;
    line-height: 15px;
  }
}
@media (max-width: 480px) {
  .header-container,
  .hero-container,
  .homework-container {
    max-width: 95%;
    margin: auto;
  }
  .logo {
    width: 200px;
    height: auto;
  }
  .flow {
    margin: 25px;
  }
  .flow-name {
    font-size: 12px;
  }
  .author {
    padding: 15px;
  }
  .author-title {
    margin: 0px;
    font-size: 12px;
  }
  .author-subtitle {
    font-size: 9px;
  }
  p {
    margin-top: 2px;
  }
  .button {
    margin-top: 10px;
    width: 90px;
    padding: 3px 3px;
  }
  .homework-title {
    padding: 15px;
    padding-bottom: 5px;
    font-size: 20px;
  }
  .homework-list {
    margin-top: 0px;
    padding: 15px;
    padding-bottom: 5px;
  }
  .button {
    margin-top: 7px;
  }
  .homework-button {
    font-size: 12px;
  }
  .It-specialist {
    margin-top: 20px;
    width: 190px;
    height: 190px;
  }
  .homework-item {
    padding: 1;
  }
  .homework-img {
    width: 30px;
    height: 30px;
  }
  .homework-links {
    font-size: 8px;
    line-height: 15px;
  }
}
@media (max-width: 360px) {
  .homework-links {
    font-size: 6px;
    line-height: 12px;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .flow {
    margin: 12px;
  }
  .flow-name {
    font-size: 12px;
  }
  .homework-title {
    font-size: 10px;
  }
  .author-subtitle {
    font-size: 8px;
    line-height: 12px;
  }

  .homework-img {
    width: 25px;
    height: 25px;
  }
  .button {
    width: 50px;
    height: auto;
    padding: 2px;
  }
  .homework-button {
    font-size: 8px;
  }
  .homework-item {
    width: 49%;
    height: 70px;
  }
  .homework-img {
    width: 20px;
    height: 20px;
  }
  .homework-links {
    font-size: 6px;
    line-height: 12px;
    padding: 0;
  }
}
